.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E6E3D8;
  }
  .formContainer {
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 32px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
  .input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 0.9rem;
  }
  .input option {
    margin-top: 20px;
  }


   /* Room and users component */

  .sidebarContainer {
    width: 300px;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  
  }
  .roomAndUsersColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f2f2f2;
  }
  
  .usernameTitle {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    margin: 0;
    color: #333333;
  }
  
  .nicknameTitle {
    font-size: 18px;
    font-weight: normal;
    padding: 0 20px;
    margin: 0;
    color: #333333;
  }
  
  .ListofOnlineUser {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    margin: 0;
    background-color: #731b1b;
    color: #333333;
  }
  
  .usersList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
  }
  
  .usersList li {
    font-size: 16px;
    font-weight: normal;
    padding: 10px 20px;
    border-bottom: 1px solid #d9d9d9;
  }
  
  .usersList li:last-child {
    border-bottom: none;
  }
  
  .usersList li strong {
    font-weight: bold;
  }